<!DOCTYPE html>
<html>
  <head>
    <title>SimpleBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">SimpleBlog</a>
        
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item"><%= link_to "Home", home_path %></li>
        </ul>
        <ul class="navbar-nav d-flex me-auto mb-2 mb-lg-0">
          <li class="nav-item"><%= link_to "Create Post", new_post_path %></li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid pl-4 pr-4 mt-5">
        <%= yield %>
    </div>
  </body>
</html>
